body {
    color: #0C4C70;
    width: 100vi;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
}

#cart-img:hover {
    content: url('../images/cart-hover.png');
    transition: 3s;
    transform: scale(1.1);
}

#cart-img {
    animation: pulse 2s infinite;
}

#input:focus,
#input:hover {
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px 1px #0C4C70;
}

#quote {
    margin: 0;
    padding-top: 5px;
    background-color: #0C4C70;
    color: #ffffff;
    text-align: center;
}

div.nav li h5 {
    text-align: center;
}
#logo-img {
    min-width: 80px;
}
header .genre-filter:hover {
    color:#126a9c;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width:900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 5) - 9px);
        
    }
    #sign-in {
        position: fixed;
        right: 0;
    }
}

@media screen and (max-width: 600px) {
    #genres {
        display: none;
    }

    #sign-in {
        position: fixed;
        top: 0;
        right: 0;
    }

    #quote {
        display: none;
    }
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }

}

.nav {
    height: 40px;
    width: 60px;
    background-color: #0C4C70;
    color: #ffffff;
    overflow: hidden;
    padding: 0;
    position: sticky;
}

.nav:hover {
    width: fit-content;
    height: fit-content;
    transition: all 1s;
    /* opacity: 0.7; */
    position: absolute;
    transform: translateX(30px)
}

.nav:hover .img-menu-lines {
    transform: rotate(90deg);
    transition: 0.5s;
}

.nav .img-menu-lines {
    transition: 0.5s;
}

.nav ul {
    padding-left: 0;
    list-style: none;
}

ul li {
    display: flex;
    align-items: center;
    padding-right: 10px;
}


ul:last-child {
    margin-bottom: 0;
}

.nav li:hover {
    background-color: #0f5b86;
    color: #ffffff;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.nav li img {
    margin-right: 15px;
    margin-left: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.nav li:hover img {
    transform: scale(1.3);
    transition: 0.5s;
}

li h5 {
    padding: 15px 0;
}

.menu-first-line:hover {
    background-color: #0C4C70 !important;
}

.menu-first-line {
    height: 40px;
}

/* Carousel styles */
.wrapper,
.carousel,
.card,
.img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 35px;
    background-color: #0C4C70;
    border-radius: 10px;
}
.wrapper {
    max-width: 1200px;
    width: 100%;
    position: relative;
}
.wrapper i {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    border-radius: 50%;
    color:#0C4C70;
    cursor: pointer;
    position: absolute;
    font-size: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px  6px #0C4C70;
}
.wrapper i:first-child {
    left: -110px;
}
.wrapper i:last-child {
    right: -110px;
}
.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%/5 - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel.no-transition {
    scroll-behavior: auto;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
.carousel .card {
    scroll-snap-align: start;
    height: 300px;
    width: 200px;
    list-style: none;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.carousel .card:hover {
    transform: scale(102%);
    transition: 0.5s;
}
.card .img img {
    /* width: 140px; */
    height: 150px;
    object-fit: cover;
}
.carousel .card p {
    text-align: center;
    text-overflow: ellipsis;
    max-height: 40px;
    overflow: hidden;
    }
.carousel .card h5 {
    text-align: center;
    text-overflow: ellipsis;
    max-height: 40px;
    overflow: hidden;
    }

@media screen and (max-width:1300px) {
    .wrapper .carousel {
        grid-auto-columns: 35%;
    }
}
@media screen and (max-width:900px) {
    .wrapper .carousel {
        grid-auto-columns: 50%;
    }
}
@media screen and (max-width:600px) {
    .wrapper .carousel {
        grid-auto-columns: 75%;
    }
}
/* END of Carousel styles */

.buy-now {
    background-color: #0C4C70;
    color: #ffffff;
    cursor: pointer;
}

.buy-now:hover {
    background-color: #126a9c;
    color: #ffffff;
}

.card-img {
    align-self: center;
    height: 200px;
    width: auto !important;
}
.card .buy-now {
    margin-bottom: 0;
    border-color: #0C4C70;
}
/* #main-books .card h5, p {
    text-align: center !important;
} */
.card {
    transition: 0.5s;
    width: 13%;
}
#main-books .card h5, #main-books .card span, #main-books .card p {
    max-height: 25px;
    overflow: hidden;
    text-align: center !important;
}
#main-books .card:hover h5, #main-books .card:hover span, #main-books .card:hover p {
    max-height: fit-content;
    overflow: visible;
}
.card:hover {
    transform: scale(103%);
    transition: 0.5s;
    box-shadow: 0 0 8px #0C4C70;
}
.book-genre {
    color:#0C4C70;
}
#main-books .card {
    min-width: 220px;
}

footer {
    background-color: #0C4C70;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
footer p {
    text-align: center;
}
footer img {
    width: 50px;
    transition: 0.5s;
}
footer img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
#fb:hover {
    content: url('../images/footer-fb-hover.png');
}
#ig:hover {
    content: url('../images/footer-ig-hover.png');
}
#in:hover {
    content: url('../images/footer-in-hover.png');
}

/* Blog.html styles */
.post-header .post-title {
    text-align: left;
    color: black;
}
.post-title .episode {
    color: gray;
    text-align: left;
}
.post-header .post-date {
    text-align: end;
    color: gray;
}
.post-body p {
    text-align: justify;
    color: black;
    font-size: 18px;
}

/* About.html styles */
.about-header {
    text-align: center;
}
.about-body p {
    color: black;
    text-align: justify;
    font-size: 18px;
}

/* Events.html styles */
.events-header h3 {
    text-align: center;
}
.events-header p {
    color: black;
    text-align: justify;
    font-size: 18px;
}
.upcoming-events h4 {
    text-align: left;
}
.event-body h5, p{
    text-align: justify;
}
.event-body h5 {
    color:gray;
}
.upcoming-events .event-body p {
    color:black;
    font-size: 18px;
    text-align: justify;
}

/* Contacts.html styles */
